Repository teamCoSaIn/trilo-be, pull requests merged in 2023-07, with the labels that each got.

#135 [TRL-380] feat: 회원 탈퇴 API 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/cosain/trilo/config/AsyncConfig.java
  src/main/java/com/cosain/trilo/trip/application/event/TripEventListener.java
  src/main/java/com/cosain/trilo/trip/application/trip/command/service/TripAllDeleteService.java
  src/main/java/com/cosain/trilo/trip/domain/repository/DayRepository.java
  src/main/java/com/cosain/trilo/trip/domain/repository/ScheduleRepository.java
  src/main/java/com/cosain/trilo/trip/domain/repository/TripRepository.java
  src/main/java/com/cosain/trilo/user/application/UserService.java
  src/main/java/com/cosain/trilo/user/application/event/UserDeleteEvent.java
  src/main/java/com/cosain/trilo/user/application/exception/NoUserDeleteAuthorityException.java
  src/main/java/com/cosain/trilo/user/presentation/UserRestController.java
  src/main/resources/exceptions/exception.yml
  src/main/resources/exceptions/exception_en.yml
  src/test/java/com/cosain/trilo/integration/user/UserIntegrationTest.java
  src/test/java/com/cosain/trilo/support/IntegrationTest.java
  src/test/java/com/cosain/trilo/unit/trip/application/trip/command/service/TripAllDeleteServiceTest.java
  src/test/java/com/cosain/trilo/unit/trip/domain/repository/DayRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/trip/domain/repository/ScheduleRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/trip/domain/repository/TripRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/user/application/UserServiceTest.java
  src/test/java/com/cosain/trilo/unit/user/presentation/UserRestControllerDocsTest.java
  src/test/java/com/cosain/trilo/unit/user/presentation/UserRestControllerTest.java
Labels: ⚙️ FEAT

#136 [TRL-379] test: IntegrationTest - 회원 Setup 메서드 작성
  src/main/java/com/cosain/trilo/user/domain/User.java
  src/main/resources/exceptions/exception.yml
  src/main/resources/exceptions/exception_en.yml
  src/test/java/com/cosain/trilo/integration/user/UserIntegrationTest.java
  src/test/java/com/cosain/trilo/support/IntegrationTest.java
Labels: 💯 TEST

#137 [TRL-386] test: 여행 생성 API 통합 테스트
  src/main/java/com/cosain/trilo/trip/domain/entity/Trip.java
  src/main/java/com/cosain/trilo/trip/presentation/trip/command/dto/response/TripCreateResponse.java
  src/test/java/com/cosain/trilo/integration/trip/TripCreateIntegrationTest.java
  src/test/java/com/cosain/trilo/integration/user/UserIntegrationTest.java
  src/test/java/com/cosain/trilo/support/IntegrationTest.java
Labels: 💯 TEST

#138 [TRL-389] test: 여행 제목 수정 API 통합 테스트
  src/test/java/com/cosain/trilo/integration/trip/TripTitleUpdateIntegrationTest.java
Labels: 💯 TEST

#141 [TRL-397] refactor: AuthService 에서의 강한 결합 문제 개선
  src/main/java/com/cosain/trilo/auth/application/AuthService.java
  src/main/java/com/cosain/trilo/user/application/UserService.java
  src/test/java/com/cosain/trilo/unit/auth/application/AuthServiceTest.java
  src/test/java/com/cosain/trilo/unit/user/application/UserServiceTest.java
Labels: 🚀 REFACTOR

#142 [TRL-400] fix: 인증 관련 응답 데이터에서 사용자 ID 제거
  src/main/java/com/cosain/trilo/auth/application/AuthService.java
  src/main/java/com/cosain/trilo/auth/application/dto/LoginResult.java
  src/main/java/com/cosain/trilo/auth/application/dto/ReIssueAccessTokenResult.java
  src/main/java/com/cosain/trilo/auth/presentation/dto/AuthResponse.java
  src/test/java/com/cosain/trilo/unit/auth/application/AuthServiceTest.java
  src/test/java/com/cosain/trilo/unit/auth/presentation/api/AuthRestControllerTest.java
  src/test/java/com/cosain/trilo/unit/auth/presentation/docs/AuthRestControllerDocsTest.java
Labels: 🔨 FIX

#143 [TRL-403] test: ScheduleFixture 추가 및 기존 테스트코드 반영
  src/test/java/com/cosain/trilo/fixture/ScheduleFixture.java
  src/test/java/com/cosain/trilo/unit/trip/application/day/command/service/DayColorUpdateServiceTest.java
  src/test/java/com/cosain/trilo/unit/trip/application/schedule/command/service/ScheduleCreateServiceTest.java
  src/test/java/com/cosain/trilo/unit/trip/application/schedule/command/service/ScheduleDeleteServiceTest.java
  src/test/java/com/cosain/trilo/unit/trip/application/schedule/command/service/ScheduleMoveServiceTest.java
  src/test/java/com/cosain/trilo/unit/trip/application/schedule/command/service/ScheduleUpdateServiceTest.java
  src/test/java/com/cosain/trilo/unit/trip/application/trip/command/service/TripImageUpdateServiceTest.java
  src/test/java/com/cosain/trilo/unit/trip/domain/entity/TripTest.java
  src/test/java/com/cosain/trilo/unit/trip/domain/repository/ScheduleRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/trip/domain/repository/TripRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/trip/infra/repository/DayQueryRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/trip/infra/repository/ScheduleQueryRepositoryTest.java
Labels: 💯 TEST

#144 [TRL-402] feat: 회원 마이페이지 조회 API 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/cosain/trilo/config/ClockConfig.java
  src/main/java/com/cosain/trilo/trip/infra/dto/TripStatistics.java
  src/main/java/com/cosain/trilo/trip/infra/repository/trip/TripQueryRepository.java
  src/main/java/com/cosain/trilo/user/application/UserService.java
  src/main/java/com/cosain/trilo/user/domain/MyPageImage.java
  src/main/java/com/cosain/trilo/user/domain/User.java
  src/main/java/com/cosain/trilo/user/presentation/UserRestController.java
  src/main/java/com/cosain/trilo/user/presentation/dto/UserMyPageResponse.java
  src/test/java/com/cosain/trilo/config/ClockConfig.java
  src/test/java/com/cosain/trilo/fixture/UserFixture.java
  src/test/java/com/cosain/trilo/integration/user/UserIntegrationTest.java
  src/test/java/com/cosain/trilo/support/IntegrationTest.java
  src/test/java/com/cosain/trilo/unit/trip/infra/repository/TripQueryRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/user/application/UserServiceTest.java
  src/test/java/com/cosain/trilo/unit/user/presentation/UserRestControllerDocsTest.java
  src/test/java/com/cosain/trilo/unit/user/presentation/UserRestControllerTest.java
Labels: ⚙️ FEAT

#146 [TRL-390] test: 여행 기간 수정 API 통합 테스트
  src/main/java/com/cosain/trilo/trip/domain/entity/Trip.java
  src/test/java/com/cosain/trilo/fixture/TripFixture.java
  src/test/java/com/cosain/trilo/integration/trip/TripPeriodUpdateIntegrationTest.java
Labels: 💯 TEST

#149 [TRL-407] test: 일정 생성 API 통합 테스트
  src/main/java/com/cosain/trilo/trip/presentation/schedule/dto/response/ScheduleCreateResponse.java
  src/test/java/com/cosain/trilo/integration/trip/ScheduleCreateIntegrationTest.java
Labels: 💯 TEST

#147 [TRL-391] test: 여행 삭제 API 통합 테스트
  src/test/java/com/cosain/trilo/integration/trip/TripDeleteIntegrationTest.java
  src/test/java/com/cosain/trilo/unit/trip/presentation/trip/TripDeleteControllerTest.java
Labels: 💯 TEST

#148 [TRL-414] test: Day 색상 수정 API 통합 테스트
  src/main/java/com/cosain/trilo/trip/application/exception/NoDayUpdateAuthorityException.java
  src/test/java/com/cosain/trilo/integration/trip/DayColorUpdateIntegrationTest.java
  src/test/java/com/cosain/trilo/unit/trip/presentation/day/DayColorUpdateControllerTest.java
  src/test/java/com/cosain/trilo/unit/trip/presentation/day/docs/DayColorUpdateControllerDocsTest.java
Labels: 💯 TEST

#151 [TRL-420] docs: README 초안 작성
  README.md
Labels: 📃 DOCS

#153 [TRL-423] feat: 회원 정보 수정 API 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/cosain/trilo/config/exception/ExceptionAdvice.java
  src/main/java/com/cosain/trilo/user/application/UserService.java
  src/main/java/com/cosain/trilo/user/application/exception/NoUserUpdateAuthorityException.java
  src/main/java/com/cosain/trilo/user/domain/User.java
  src/main/java/com/cosain/trilo/user/presentation/UserRestController.java
  src/main/java/com/cosain/trilo/user/presentation/dto/UserUpdateRequest.java
  src/main/resources/exceptions/exception.yml
  src/main/resources/exceptions/exception_en.yml
  src/test/java/com/cosain/trilo/fixture/UserFixture.java
  src/test/java/com/cosain/trilo/integration/user/UserIntegrationTest.java
  src/test/java/com/cosain/trilo/unit/user/application/UserServiceTest.java
  src/test/java/com/cosain/trilo/unit/user/presentation/UserRestControllerDocsTest.java
  src/test/java/com/cosain/trilo/unit/user/presentation/UserRestControllerTest.java
Labels: ⚙️ FEAT

#152 [TRL-422] infra: 데이터베이스 스키마 작성
  .github/workflows/build-test.yml
  .github/workflows/deploy-ec2.yml
  src/main/java/com/cosain/trilo/trip/domain/entity/Day.java
  src/main/java/com/cosain/trilo/trip/domain/entity/Schedule.java
  src/main/java/com/cosain/trilo/trip/domain/entity/Trip.java
  src/main/java/com/cosain/trilo/trip/domain/vo/ScheduleContent.java
  src/main/java/com/cosain/trilo/trip/domain/vo/ScheduleTitle.java
  src/main/java/com/cosain/trilo/trip/domain/vo/TripImage.java
  src/main/java/com/cosain/trilo/user/domain/MyPageImage.java
  src/main/java/com/cosain/trilo/user/domain/User.java
  src/main/resources/schema.sql
  src/test/java/com/cosain/trilo/fixture/UserFixture.java
  src/test/java/com/cosain/trilo/support/RestControllerTest.java
  src/test/java/com/cosain/trilo/unit/auth/infra/jwt/JwtTokenAnalyzerTest.java
  src/test/java/com/cosain/trilo/unit/auth/infra/jwt/JwtTokenProviderTest.java
  src/test/java/com/cosain/trilo/unit/trip/application/trip/service/TripListSearchServiceTest.java
  src/test/java/com/cosain/trilo/unit/trip/domain/repository/DayRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/trip/domain/repository/ScheduleRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/trip/domain/repository/TripRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/trip/infra/repository/DayQueryRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/trip/infra/repository/ScheduleQueryRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/trip/infra/repository/TripQueryRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/user/application/UserServiceTest.java
  src/test/java/com/cosain/trilo/unit/user/infra/UserRepositoryTest.java
  src/test/java/com/cosain/trilo/unit/user/presentation/UserRestControllerDocsTest.java
  src/test/java/com/cosain/trilo/unit/user/presentation/UserRestControllerTest.java
  src/test/resources/application.yml
  src/test/resources/test_schema.sql
Labels: 🗽 INFRA

#156 [TRL-408] test: 일정 수정 API 통합 테스트
  src/test/java/com/cosain/trilo/integration/trip/ScheduleUpdateIntegrationTest.java
Labels: 💯 TEST

#162 [TRL-430] refactor: 회원 탈퇴 기능 이벤트 처리 방식 변경
  src/main/java/com/cosain/trilo/trip/application/event/TripEventListener.java
Labels: 🚀 REFACTOR

#165 [TRL-444] refactor: 회원 탈퇴 시 비동기처리 및 flag 컬럼을 통한 삭제 Scheduling
  src/main/java/com/cosain/trilo/config/AsyncConfig.java
  src/main/java/com/cosain/trilo/config/ScheduleConfig.java
  src/main/java/com/cosain/trilo/trip/application/event/TripEventListener.java
  src/main/java/com/cosain/trilo/user/application/UserScheduledService.java
  src/main/java/com/cosain/trilo/user/application/UserService.java
  src/main/java/com/cosain/trilo/user/domain/User.java
  src/main/java/com/cosain/trilo/user/domain/UserRepository.java
  src/main/resources/schema.sql
  src/test/java/com/cosain/trilo/fixture/UserFixture.java
  src/test/java/com/cosain/trilo/integration/user/UserIntegrationTest.java
  src/test/java/com/cosain/trilo/unit/user/application/UserScheduledServiceTest.java
  src/test/java/com/cosain/trilo/unit/user/application/UserServiceTest.java
  src/test/java/com/cosain/trilo/unit/user/infra/UserRepositoryTest.java
  src/test/resources/test_schema.sql
Labels: 🚀 REFACTOR

#168 [TRL-456] fix: 사용자 여행 목록 조회 API 엔드포인트 변경
  src/docs/asciidoc/index.adoc
  src/main/java/com/cosain/trilo/trip/presentation/trip/TripperTripListQueryController.java
  src/main/java/com/cosain/trilo/trip/presentation/trip/dto/request/TripListSearchRequest.java
  src/test/java/com/cosain/trilo/unit/trip/presentation/trip/TripperTripListQueryControllerTest.java
  src/test/java/com/cosain/trilo/unit/trip/presentation/trip/docs/TripperTripListQueryControllerDocsTest.java
Labels: 🔨 FIX

#169 [TRL-455] feat: 전체 여행 목록 페이지네이션 조회 API 구현
  src/docs/asciidoc/index.adoc
  src/main/java/com/cosain/trilo/trip/application/dao/TripQueryDAO.java
  src/main/java/com/cosain/trilo/trip/application/trip/service/trip_condition_search/TripConditionSearchService.java
  src/main/java/com/cosain/trilo/trip/application/trip/service/trip_condition_search/TripSearchResponse.java
  src/main/java/com/cosain/trilo/trip/infra/dao/TripQueryDAOImpl.java
  src/main/java/com/cosain/trilo/trip/infra/dao/querydsl/QuerydslTripQueryRepository.java
  src/main/java/com/cosain/trilo/trip/presentation/trip/TripConditionSearchController.java
  src/main/java/com/cosain/trilo/trip/presentation/trip/dto/request/TripSearchRequest.java
  src/main/resources/schema.sql
  src/test/java/com/cosain/trilo/fixture/TripFixture.java
  src/test/java/com/cosain/trilo/integration/trip/TripConditionSearchIntegrationTest.java
  src/test/java/com/cosain/trilo/support/IntegrationTest.java
  src/test/java/com/cosain/trilo/unit/trip/application/trip/service/trip_condition_search/TripConditionSearchServiceTest.java
  src/test/java/com/cosain/trilo/unit/trip/infra/dao/TripQueryDAOImplTest.java
  src/test/java/com/cosain/trilo/unit/trip/presentation/trip/TripConditionSearchControllerTest.java
  src/test/java/com/cosain/trilo/unit/trip/presentation/trip/docs/TripConditionSearchControllerDocsTest.java
  src/test/resources/test_schema.sql
Labels: ⚙️ FEAT

#167 [TRL-455] 여행 기간 수정 기능 - 주석 추가 및 JavaDoc 작성
  src/main/java/com/cosain/trilo/common/exception/trip/EmptyPeriodUpdateException.java
  src/main/java/com/cosain/trilo/common/exception/trip/InvalidPeriodException.java
  src/main/java/com/cosain/trilo/common/exception/trip/NoTripUpdateAuthorityException.java
  src/main/java/com/cosain/trilo/common/exception/trip/TooLongPeriodException.java
  src/main/java/com/cosain/trilo/trip/application/trip/service/trip_image_update/TripImageUpdateService.java
  src/main/java/com/cosain/trilo/trip/application/trip/service/trip_period_update/TripPeriodUpdateCommand.java
  src/main/java/com/cosain/trilo/trip/application/trip/service/trip_period_update/TripPeriodUpdateService.java
  src/main/java/com/cosain/trilo/trip/application/trip/service/trip_title_update/TripTitleUpdateService.java
  src/main/java/com/cosain/trilo/trip/domain/dto/ChangeTripPeriodResult.java
  src/main/java/com/cosain/trilo/trip/domain/entity/Day.java
  src/main/java/com/cosain/trilo/trip/domain/entity/Trip.java
  src/main/java/com/cosain/trilo/trip/domain/repository/DayRepository.java
  src/main/java/com/cosain/trilo/trip/domain/repository/ScheduleRepository.java
  src/main/java/com/cosain/trilo/trip/domain/repository/TripRepository.java
  src/main/java/com/cosain/trilo/trip/domain/vo/TripPeriod.java
  src/main/java/com/cosain/trilo/trip/infra/repository/DayRepositoryImpl.java
  src/main/java/com/cosain/trilo/trip/infra/repository/ScheduleRepositoryImpl.java
  src/main/java/com/cosain/trilo/trip/infra/repository/TripRepositoryImpl.java
  src/main/java/com/cosain/trilo/trip/infra/repository/jpa/JpaDayRepository.java
  src/main/java/com/cosain/trilo/trip/infra/repository/jpa/JpaScheduleRepository.java
  src/main/java/com/cosain/trilo/trip/infra/repository/jpa/JpaTripRepository.java
  src/main/java/com/cosain/trilo/trip/presentation/trip/TripPeriodUpdateController.java
  src/main/java/com/cosain/trilo/trip/presentation/trip/dto/request/TripPeriodUpdateRequest.java
  src/main/java/com/cosain/trilo/trip/presentation/trip/dto/response/TripPeriodUpdateResponse.java
  src/test/java/com/cosain/trilo/integration/trip/TripPeriodUpdateIntegrationTest.java
  src/test/java/com/cosain/trilo/unit/trip/application/trip/service/trip_image_update/TripImageUpdateServiceTest.java
  src/test/java/com/cosain/trilo/unit/trip/application/trip/service/trip_period_update/TripPeriodUpdateCommandTest.java
  src/test/java/com/cosain/trilo/unit/trip/application/trip/service/trip_period_update/TripPeriodUpdateServiceTest.java
  src/test/java/com/cosain/trilo/unit/trip/application/trip/service/trip_title_update/TripTitleUpdateServiceTest.java
  src/test/java/com/cosain/trilo/unit/trip/domain/entity/TripTest.java
  src/test/java/com/cosain/trilo/unit/trip/domain/vo/TripPeriodTest.java
  src/test/java/com/cosain/trilo/unit/trip/infra/repository/DayRepositoryImplTest.java
  src/test/java/com/cosain/trilo/unit/trip/infra/repository/ScheduleRepositoryImplTest.java
  src/test/java/com/cosain/trilo/unit/trip/infra/repository/TripRepositoryImplTest.java
  src/test/java/com/cosain/trilo/unit/trip/presentation/trip/TripPeriodUpdateControllerTest.java
  src/test/java/com/cosain/trilo/unit/trip/presentation/trip/docs/TripPeriodUpdateControllerDocsTest.java
Labels: 📃 DOCS
